footer.main-footer
  .wrapper
    .wrapper__inner
      nav.page-nav
        ul
          li.page-nav__item
            a(href="#") Ссылка-1
          li.page-nav__item
            a(href="#") Ссылка-2
          li.page-nav__item
            a(href="#") Ссылка-3
          li.page-nav__item
            a(href="#") Ссылка-4
          li.page-nav__item
            a(href="#") Ссылка-5
      