footer.main-footer
  .wrapper
    .wrapper__inner
      nav.footer-navbar
        ul.page-nav
            li.page-nav__item.active
              a.page-nav__link(href="./index.html") Обо мне
            li.page-nav__item
              a.page-nav__link(href="./projects.html") Проекты
            li.page-nav__item
              a.page-nav__link(href="./resume.html") Резюме
      