section.intro
    .wrapper
      .wrapper__inner
        img.profile__image(src="./img/profile.jpg", alt="Mikhail Gortalov")
        .intro-body
          .lead Привет, я -
          h1.name Михаил Горталов.
          .bio В свободное время занимаюсь вёрсткой PSD макетов, выполняю заказы на фрилансе.Основные используемые технологии: html5, css3, javaScript. В работе активно использую различные инструменты для оптимизации процесса: gulp, less, smart-grid. Хотите знать, как я могу помочь вашему проекту? Ознакомьтесь с примерами моих #[a(href="./projects") проектов] и #[a(href="./resume.html") резюме].
          a.contact.btn(href="mailto:toyrik@gmail.com" target="_blank") Связаться