section.intro
    .wrapper
      .wrapper__inner
        img.profile__image(src="./img/profile.jpg", alt="Mikhail Gortalov")
        .intro-body
          .lead Приветствую вас на странице где вы можете более подробно ознакомиться с тем что я делаю. Ниже представлены - 
          h1.name Мои проекты
          .bio В работах активно используются различные инструменты для оптимизации процесса: gulp, less, smart-grid. 
          a.contact.btn(href="mailto:toyrik@gmail.com" target="_blank") Связаться