section.skills
  .wrapper
    h3.section-title Что я умею
    .section-intro У меня есть некоторый опыт в создании веб-сайтов для различных клиентов. Ниже можно ознакомиться с кратким обзором моих навыков и умений. Если хотите узнать больше, вы можете ознакомиться с моим #[a(href="./resume.html") резюме]
    .skills-blocks
      .skills-blocks__item
        .skills-blocks__icon
          img.skills-icon(src="./img/svg/frontend-icon.svg" alt="frontend")
        h4.skills-cat Фронтенд
        ul
          li JavaScript
          li Node.js
          li Gulp/Smart-grid
          li HTML5/CSS3/Pug/Sass/Less
      .skills-blocks__item
        .skills-blocks__icon
          img.skills-icon(src="./img/svg/backend-icon.svg" alt="frontend")
        h4.skills-cat Бекенд
        ul
          li PHP
          li WordPress
      .skills-blocks__item
        .skills-blocks__icon
          img.skills-icon(src="./img/svg/other-skills-icon.svg" alt="frontend")
        h4.skills-cat Дополнительно
        ul
          li Linux
          li Avocode
          li Photoshop