section.featured
  .wrapper
    h3.section-title Избранные проекты
    .project-cards

      .card
        .card__img-container
          img.card__img-top(src="./img/lawOffice-thumb.jpg" alt="project thumb")
          .card__img-overlay
            .card__logo
              img(src="./img/svg/lawOffice-logo.svg", alt="project logo")
          a.card__img-overlay.overlay-content(href="./lawOffice/")
            h5.card__title &laquo;Ветров и партнёры&raquo;
            p.card__text Сайт адвокатского бюро
        .card__body
          h4.card__title 
            a.title-link(href="./lawOffice/") &laquo;Ветров и партнёры&raquo;
        .card__footer
          ul.tech
            li.tech__item 
              span.badge Node.js
            li.tech__item 
              span.badge Gulp
            li.tech__item 
              span.badge Jquery
            li.tech__item 
              span.badge HTML/CSS

      .card
        .card__img-container
          img.card__img-top(src="./img/funnyPet-thumb.jpg" alt="project thumb")
          .card__img-overlay
            .card__logo
              img(src="./img/svg/anvil.svg", alt="project logo")
          a.card__img-overlay.overlay-content(href="./funnyPet/static/")
            h5.card__title &laquo;Мои питомцы&raquo;
            p.card__text Сайт любителя домашних питомцев
        .card__body
          h4.card__title 
            a.title-link(href="./projects.html") &laquo;Мои питомцы&raquo;
        .card__footer
          ul.tech
            li.tech__item 
              span.badge Node.js
            li.tech__item 
              span.badge Gulp
            li.tech__item 
              span.badge Jquery
            li.tech__item 
              span.badge HTML/CSS
