section.cta
  .wrapper
    .wrapper__inner
      img.profile-small(src="./img/profile.jpg")
      h3.section-title Заинтересовались в найме?
      .cta__text Ищете нового сотрудника? Чтобы начать общение, просто напишите мне письмо по адресу #[a(href="mailto:toyrik@gmail.com") toyrik@gmail.com]
      a.contact.btn(href="mailto:toyrik@gmail.com" target="_blank") Связаться