.table{ 
	border-collapse: collapse; 
	border: 0px; 
	margin: 10px 33%;
	/* margin: 10 auto; */
} 
table td{ 
	border-style:solid; 
	border-width:5px; 
} 
.table th{ 
	border-style:solid; 
	border-width:5px; 
} 
.table-red{ 
	background-color:#E10606; 
} 
.table-blue{ 
	background-color: #13234B; 
} 
.table-blue{ 
	background-color: #E1ECFC;
} 
.table-yellow{ 
	background-color: #FFDA00; 
} 
.table-maroon{ 
	background-color:#1B0101; 
} 
.table-black{ 
	background-color:#000000; 
}
img {
	margin: 10px 33%;
}


/* ==== А теперь поехали, как бы сделал я ====*/

div img {
	border-style: none;
	margin: 0px;
}
/* В IE10 за каким то добавили бордеры для изображений, удаляем. Марджины удалил для перезаписи стилей */

.wrapper {
	width: 401px;
	margin: 0 auto;
}
/* обертка, не является чем то обязательным, просто привычка потому что мне так удобней всё выравнивать. */

div table {
	width: 401px;
	height: 270px;
	border-collapse: collapse;
	border: 0px;
}
/* После обрезки изображения получились именно такие размеры.  */

div table tr td {
	border: 5px solid #000000;
	margin: 0px;
	padding: 0px;
}

.td-black {
	background-color: #000000;
}

.td-red {
	background-color: #ac2140;
}

.td-blue {
	background-color: #385abc;
}

.td-yellow {
	background-color: #fbd860;
}