/*colors*/
/* As hex codes */

@color_second-light: #727a87;
@color_main: #3B4350;	/* Main Primary color */
@color_light: #545D6B;
@color_dark: #212934;
@color_sekond-dark: #162031;



/* As RGBa codes */

@rgba_main: rgba( 59, 67, 80,1);	/* Main Primary color */
@rgba_second-light: rgba(114,122,135,1);
@rgba_light: rgba( 84, 93,107,1);
@rgba_dark: rgba( 33, 41, 52,1);
@rgba_second-dark: rgba( 22, 32, 49,1);

@rgba_text: rgba(255, 255, 255, 07);
@rgba_text-a:rgba(255, 255, 255, 0.5);