extend layouts/main.pug

block title
  - var title = "Обо мне"

block content

  include ./parts/main-intro.pug
  include ./parts/section__scills.pug
  include ./parts/section__featured.pug
  include ./parts/section__cta.pug

  
      
  
          
            