@import "./include/grid.less";
@import "./include/variables.less";
@import "./include/fonts.less";

.reset;

.debug {

.debug(rgba(0, 0, 0, 0.5), 1px dashed yellow);
}

body {
	line-height: 1.5;
  font-family: "Roboto", sans-serif;
	font-weight: normal;
	background: rgb(247, 248, 250);
	color: rgba(67, 78, 94, 0.8);
}

@import "./include/header.less";
@import "./include/section__intro.less";
@import "./include/section__skills.less";
@import "./include/section__featured.less";
@import "./include/section__cta.less";
@import "./include/footer.less";

.none {
  display: none;
}